# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
*.egg

# Django
db.sqlite3
media/
staticfiles/

# Env
.env
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
